<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Domain.Properties.Settings.MISConnectionString" connectionString="Data Source=DESKTOP-6SAR9JF;Initial Catalog=MIS;Persist Security Info=True;User ID=sa;Password=s9951111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>